asgiref==3.11.0
certifi==2026.6.17
charset-normalizer==3.4.7
cloudinary==1.44.2
distlib==0.4.0
Django==5.2.8
django-cloudinary-storage==0.3.0
filelock==3.20.0
gunicorn==24.1.1
idna==3.18
packaging==26.0
pillow==12.0.0
platformdirs==4.5.0
psycopg2-binary==2.9.11
pycryptodome==3.23.0
requests==2.34.2
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.7.0
virtualenv==20.35.4
whitenoise==6.11.0
dj-database-url==2.1.0